#welcome-screen{
    display: flex; 
    font-size: 10vw;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:rgb(0, 102, 255);
    justify-content: center;
    background-image: linear-gradient(to top, rgb(132, 228, 228), rgb(195, 255, 195));
    border-style:ridge;
    border-color:darkslategray;
    border-width: 5px;
    border-radius: 60px; 
}
/* p{
    font-size: 100px;
} */ 